* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.parent {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: white;
    position: relative;
    width: 100%;
}
.future {
    border-bottom: 1px solid rgb(66, 65, 65);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 80px;
}
.future h2 {
    font-weight: 400;
}
.next {
    width: auto;
    height: 30px;
    background-color: white;
}

/* CONCEPTS begins here */
.concepts {
    background-image: url("./images/living-room-chair.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(236, 234, 234);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.view {
    padding: 150px 80px;
    width: 650px;
}
.view h1 {
    font-size: 4.5em;
    font-family: 'Playfair Display', serif;
    margin-bottom: 50px;
    font-weight: 600;
}
.view p {
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    margin-bottom: 50px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.boxes {
    display: flex;
}
.black {
    background-color: black;
    height: 45px;
    width: 200px;
    text-align: center;
    margin-right: 60px;
    padding: 8px;
}
.black a {
    color: white;
}
.outline {
    height: 45px;
    width: 150px;
    border: 1px solid rgb(66, 65, 65);
    text-align: center;
    padding: 8px;
}
.outline a {
    color: black;
}
.black p, .outline p {
    font-size: 1.2em;
}


/* SECTION LAYERS starts here */
.layers {
    width: auto;
    height: 750px; 
    background-color: white;
    /* background: yellow; */
    /* position: relative; */
}
.white {
    padding: 0 80px 80px 80px;
    position: relative;
}
.brown-1 {
    height: 550px;
    width: 550px;
    background-color: rgb(156, 123, 80);
    position: relative;
    top: -40px;
}
.hammock {
    height: 650px;
    width: 550px;
    position: relative;
    top: -520px;
    left: 50px;
}
.cozy {
    width: 400px;
    height: 250px;
    background-color: white;
    position: relative;
    right: -400px;
    bottom: 750px;
    padding: 60px 30px;
}
.cozy h2 {
    font-size: 1.8em;
    margin-bottom: 18px;
    margin-left: 60px;
}
.cozy p {
    font-size: 18px;
}
.brown-2 {
    background-color: rgb(156, 123, 80);
    width: 380px;
    height: 320px;
    position: relative;
    float: right;
    top: -1420px;
    color: white;
    padding: 100px 30px;
}
.brown-2 h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

/* SECTION NEW starts here */
.new {
    background-color: rgb(240, 240, 240);
    width: auto;
    height: auto;
    position: relative;
}
.grey {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 80px;
}
.texts {
    width: 200px;
    padding: 30px 5px;
}
.line {
    background-color: rgb(156, 123, 80);
    width: 80px;
    height: 5px;
    margin-bottom: 30px;
}
.texts h2 {
    margin-bottom: 30px;
    line-height: 1.2em;
}
.texts p {
    line-height: 1.2em;
    font-style: italic;
    font-size: 18px;
}
.img-1, .img-2, .img-3 {
    background-color: white;
    height: 280px;
    width: 320px;
}
.comfy {
    height: 280px;
    width: 280px;
}

/* NATURE section begins here */
.nature {
    background-color: white;
    width: auto;
    height: auto;
    position: relative;
}
.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
.title {
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
}
.title h1 {
    color:rgb(156, 123, 80);
    font-size: 3.0em;
    margin-bottom: 20px;
}
.title p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.grid-1 {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: 400px 400px;
    margin-bottom: 120px;
}
.pic-1 {
    background-image: url("./images/7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic-2 {
    background-image: url("./images/7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic-3 {
    background-image: url("./images/7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic-4 {
    background-image: url("./images/7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic-5 {
    background-image: url("./images/7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pic-6 {
    background-image: url("./images/7.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.middle {
    width: 400px;
    margin-right: 150px;
}
.middle h1 {
    font-size: 2.0em;
    margin-bottom: 30px;
}
.middle p {
    font-size: 18px;
}
.above {
    width: 600px;
    display: flex;
    flex-direction: column;
}
.brown-3 {
    height: 500px;
    width: 400px;
    background-color: rgb(160, 134, 101);
    margin-left: 200px;
}
.lady {
    margin-top: -450px;
    margin-left: 70px;
}
.chair {
    width: 250px;
    height: 270px;
    margin-top: -220px;
    margin-left: -120px;
}
.grid-2 {
    width: 1343px;
    height: auto;
    background-image: url("./images/tomraffield.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    margin-bottom: 80px;
}
.grid-2a {
    float: right;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 400px 400px;
}
.span-1 {
    background-color: rgb(156, 123, 80);
    background-image: url("./images/rocky.png");
    background-position: center;
    background-size: 350px;
    background-repeat: no-repeat;
}
.span-2 {
    background-color: rgb(231, 228, 228);
    padding: 120px 50px;
}
.span-2 h2 {
    margin-bottom: 30px;
}
.span-3 {
    background-color: rgb(231, 228, 228);
    padding: 120px 30px;
}
.span-3 h2 {
    margin-bottom: 30px;
}
.span-4 {
    background-image: url("./images/cookie.jpeg");
    background-repeat: no-repeat;
    background-size: 350px 400px;
    background-position: center;
}
.icons {
    height: 500px;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
}
.icon-1 {
    background-image: url("./images/woo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.icon-2 {
    background-image: url("./images/The\ O.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}
.icon-3 {
    background-image: url("./images/NOOM.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.icon-4 {
    background-image: url("./images/Mazepa_base_logo01201x201.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.icon-5 {
    background-image: url("./images/FILD.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.icon-6 {
    background-image: url("./images/ODESD2_logo2.001173x173.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/* BLACKEY section begins here */
.blackey {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}
.learn {
    width: 45%;
    height: auto;
    color: rgb(252, 243, 242);
    text-align: center;
}
.learn h1 {
    margin-bottom: 30px;
}
.learn p {
    margin-bottom: 30px;
}
.creamy {
    width: 150px;
    height: 50px;
    background-color: rgb(252, 243, 242);
    text-align: center;
}
.creamy p {
    margin-top: 15px;
    color: rgb(19, 18, 18);
}
.creamy p:hover {
    color: rgb(250, 230, 230);
}
.creamy:hover {
    background-color: rgb(240, 178, 158);
}

/* BROWNY section starts here */
.browny {
    background-color: rgb(37, 34, 29);
    padding: 80px 100px 50px 100px;
}
.spacey {
    display: flex;
    justify-content: space-between;
    color: snow;
    margin-bottom: 60px;
}
.spacey a {
    color: snow;
}
.spacey p {
    margin-bottom: 10px;
}
h3 {
    margin-bottom: 15px;
}
hr {
    margin-bottom: 50px;
}
h4 {
    color: snow;
}

/* GRAY section begins here */
.gray {
    background-color: rgb(53, 51, 51);
    text-align: center;
    padding: 50px;
}
.gray a {
    text-decoration: underline;
    color: blanchedalmond;
}
.gray a:hover {
    text-decoration: none;
    color: darkgray;
}
.gray p {
    color: snow;
}

/* MOBILE responsiveness starts here */
@media (max-width:475px) {
    /* HEADER SECTION */
    .future {
        padding: 30px 50px;
    }

    /* CONCEPT section */
    .view {
        padding: 60px 50px;
        width: 400px;
    }
    .view h1 {
        font-size: 2.3em;
        margin-bottom: 25px;
        line-height: 1.0em;
    }
    .view p {
        margin-bottom: 40px;
    }
    .boxes {
        flex-direction: column;
    }
    .black {
        margin-bottom: 18px;
        width: 150px;
    }
    .outline {
        padding: 10px;
        width: 180px;
        margin-bottom: 100px;
    }
    .black p, .outline p {
        font-size: 1.0em;
    }

    /* LAYERS section starts here */
    .layers {
        height: 1060px;
    }
    .brown-1 {
        height: 500px;
        width: 320px;
        left: -30px;
        top: -40px;
    }
    .hammock {
        width: 320px;
        height: 500px;
        left: 10px;
        top: -470px;
    }
    .cozy {
        right: 0;
        left: -30px;
        width: 350px;
        height: 200px;
        padding: 40px 50px;
        bottom: 474px;
    }
    .cozy h2 {
        margin-left: 0;
        font-size: 1.5em;
        font-weight: 500;
    }
    .cozy p {
        font-size: 1.0em;
        font-weight: lighter;
    }
    .brown-2 {
        width: 350px;
        height: 280px;
        top: -474px;
        left: 22.5px;
        padding: 80px 30px;
    }

    /* NEW section starts here */
    .grey {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
    }
    .texts {
        padding: 0;
        width: 320px;
        margin-bottom: 100px;
    }
    .texts p {
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        line-height: 1.5em;
        font-size: 16px;
    }
    .line {
        width: 35px;
    }
    .img-1 {
        margin-bottom: 30px;
    }
    .img-2 {
        margin-bottom: 30px;
    }

    /* NATURE section starts here */
    .display {
        padding: 80px 50px;
    }
    .title {
        width: 100%;
        margin-bottom: 30px;
    }
    .title h1 {
        font-size: 2.2em;
    }
    .grid-1 {
        grid-template-columns: 350px;
        grid-template-rows: 350px 350px 350px 350px 350px 350px;
        margin-bottom: 150px;
    }
    .flex {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 120px;
    }
    .middle {
        width: 350px;
        margin-right: 0;
        margin-bottom: 100px;
    }
    .middle h1 {
        font-size: 1.6em;
    }
    .middle p {
        font-family: 'Open Sans', sans-serif;
    }
    .above {
        width: 500px;
    }
    .brown-3 {
        height: 450px;
        width: 300px;
        margin-left: 130px;
    }
    .lady {
        height: 350px;
        width: 300px;
        margin-top: -400px;
        margin-bottom: 100px;
        margin-left: 80px;
    }
    .chair {
        width: 180px;
        height: 180px;
        margin-top: -180px;
        margin-left: 55px;
    }
    .grid-2 {
        width: 457px;
        height: 1500px;
        background-color: rgb(231, 226, 226);
        margin-bottom: 100px;
        /* background-image: url("./images/tonon-concept.jpg"); */
    }
    .grid-2a {
        float: none;
        margin-bottom: 0;
        margin-top: 300px;
        display: flex;
        flex-direction: column;
    }
    .span-1, .span-2, .span-3, .span-4 {
        width: 100%;
        height: 300px;
    }
    .span-1 {
        background-size: 250px;
    }
    .span-4 {
        background-size: cover;
    }
    .icons {
        height: auto;
        row-gap: 0;
        padding: 0 100px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6 {
        width: 150px;
        height: 120px;
        background-size: 120px;
    }

}